<div
  class="offcanvas offcanvas-end text-bg-dark gap-3 overflow-hidden"
  style="border: 1px solid #343a40; border-radius: 17px 0px 0px 17px"
  tabindex="-1"
  id="offProfileCanvas"
  data-bs-scroll="true"
  aria-labelledby="offProfileCanvasLabel"
>
  <div class="offcanvas-header">
    <div class="offcanvas-header_wrapper">
      <div class="offcanvas-header_effect"></div>
      <div class="offcanvas-header_content">
        <img
          class="rounded-circle img-fluid w-25 h-25"
          ng-src="{{vm.user.image}}"
          alt=""
          srcset=""
        />
        <div class="hehe">
          <h1 class="me-2 text-white fs-4">{{vm.user.name}}</h1>
          <p style="font-size: 12px">ID: {{vm.user.id}}</p>
        </div>
      </div>
    </div>
    <button
      type="button"
      class="btn-close btn-close-white align-self-start"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex flex-column justify-content-start gap-3">
      <div class="d-inline">
        <button
          data-bs-toggle="modal"
          data-bs-target="#editProfile"
          href="#editProfile"
          class="btn btn-secondary"
        >
          Edit Profile
        </button>
        <input
          type="file"
          ng-model="selectedFile"
          id="myFile"
          accept="image/png, image/jpeg"
          hidden
        />
        <button
          onclick="document.getElementById('myFile').click()"
          type="button"
          class="btn btn-secondary"
        >
          Change Avatar
        </button>
      </div>

      <div class="d-flex flex-column justify-content-start">
        <h6 class="text-muted text-center">Yours Task</h6>
        <div class="mb-3 position-relative">
          <input
            type="text"
            class="form-control bg-dark text-light border-secondary"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder="Search"
          />
          <i
            class="fa fa-search position-absolute"
            style="top: 11px; right: 16px"
            aria-hidden="true"
          ></i>
        </div>
      </div>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="bg-dark text-light">
          <h2 class="py-1" id="flush-headingOne">
            <button
              class="accordion-button collapsed bg-dark text-light p-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Brochure products
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body py-3">
              <div class="accordion-body-item">
                <h6>Verify Water Meter</h6>
                <span class="text-muted">Set up your first party</span>
              </div>
              <div class="accordion-body-item">
                <h6>Install Cabinets</h6>
                <span class="text-muted">Get set on autoship</span>
              </div>
              <div class="accordion-body-item">
                <h6>Electric Underground</h6>
                <h6 class="text-muted">
                  Learn how to master your communication skills
                </h6>
              </div>
              <div class="accordion-body-item">
                <h6>Pad Certification</h6>
                <h6 class="text-muted">Complete the Compensation Plan Quiz</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="g-dark text-light">
          <h2 class="py-1" id="flush-headingTwo">
            <button
              class="accordion-button collapsed bg-dark text-light p-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              Treatment
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body py-3">
              <div class="accordion-body-item">
                <h6>Final Check</h6>
                <span class="text-muted">Create new brand styleguide</span>
              </div>
            </div>
          </div>
        </div>

        <div class="g-dark text-light">
          <h2 class="py-1" id="flush-headingThree">
            <button
              class="accordion-button collapsed bg-dark text-light p-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              Windexing mirrors
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body py-3">
              <div class="accordion-body-item">
                <h6>Verify Water Meter</h6>
                <span class="text-muted">Set up your first party</span>
              </div>
              <div class="accordion-body-item">
                <h6>Install Cabinets</h6>
                <span class="text-muted">Get set on autoship</span>
              </div>
              <div class="accordion-body-item">
                <h6>Electric Underground</h6>
                <h6 class="text-muted">
                  Learn how to master your communication skills
                </h6>
              </div>
              <div class="accordion-body-item">
                <h6>Pad Certification</h6>
                <h6 class="text-muted">Complete the Compensation Plan Quiz</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="g-dark text-light">
          <h2 class="py-1" id="flush-headingFour">
            <button
              class="accordion-button collapsed bg-dark text-light p-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour"
              aria-expanded="false"
              aria-controls="flush-collapseFour"
            >
              Quarterly report tasklist
            </button>
          </h2>
          <div
            id="flush-collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body py-3">
              <div class="accordion-body-item">
                <h6>Verify Water Meter</h6>
                <span class="text-muted">Set up your first party</span>
              </div>
              <div class="accordion-body-item">
                <h6>Install Cabinets</h6>
                <span class="text-muted">Get set on autoship</span>
              </div>
              <div class="accordion-body-item">
                <h6>Electric Underground</h6>
                <h6 class="text-muted">
                  Learn how to master your communication skills
                </h6>
              </div>
              <div class="accordion-body-item">
                <h6>Pad Certification</h6>
                <h6 class="text-muted">Complete the Compensation Plan Quiz</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="offcanvas-footer d-flex justify-content-center">
    <button
      ng-click="vm.logout()"
      aria-label="Close"
      data-bs-dismiss="offcanvas"
      class="btn btn-outline-secondary text-light mb-3"
    >
      <i class="fa fa-power-off" aria-hidden="true"></i>
      Log out
    </button>
  </div>
</div>

<!-- Edit Profile -->
<div
  class="modal fade"
  id="editProfile"
  aria-hidden="true"
  aria-labelledby="editProfileLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div
      class="modal-content text-light container"
      style="
        background: #101113;
        border: 1px solid #343a40;
        border-radius: 17px;
      "
    >
      <div class="text-end">
        <button
          type="button"
          class="btn-close btn-close-white mt-3 me-2"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form class="container w-100 p-5">
        <span class="mb-5 h3">Edit Profile</span>
        <div class="mt-4">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control border-light bg-dark text-light"
            id="name"
            ng-model="vm.user.name"
            ng-value="vm.user.name"
          />
        </div>
        <div class="mt-3">
          <label for="login" class="form-label">Login</label>
          <input
            type="text"
            class="form-control border-light bg-dark text-light"
            id="login"
            ng-model="vm.user.username"
            ng-value="vm.user.username"
          />
        </div>
        <div class="mt-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control border-light bg-dark text-light"
            id="password"
            ng-model="vm.user.password"
            ng-value="vm.user.password"
          />
        </div>
        <div class="text-center mt-3">
          <button
            ng-click="vm.changeProfile(vm.user)"
            type="submit"
            class="btn btn-dark mt-3"
          >
            Accept Changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
