<div
  class="offcanvas offcanvas-end text-bg-dark gap-3 overflow-hidden"
  style="border: 1px solid #343a40; border-radius: 17px 0px 0px 17px"
  tabindex="-1"
  id="offProfileCanvas"
  data-bs-scroll="true"
  aria-labelledby="offProfileCanvasLabel"
>
  <div class="offcanvas-header">
    <div class="offcanvas-header_wrapper">
      <div class="offcanvas-header_effect"></div>
      <div class="offcanvas-header_content">
        <h1 class="me-2 text-white fs-4">Alexander Familia</h1>
        <p style="font-size: 12px">ID: vfdsgfdgsgfdxhfxhgfhfhf</p>
      </div>
    </div>
    <button
      type="button"
      class="btn-close btn-close-white align-self-start"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Some text as placeholder. In real life you can have the elements you have
      chosen. Like, text, images, lists, etc.
    </div>
    <div class="dropdown mt-3">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
      >
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>
