<footer class="border-top border-secondary text-center text-muted py-3 my-3">
  <div class="container d-flex align-items-center justify-content-between">
    <i class="fa-brands fa-angular fs-3 float-start"></i>
    <span> &copy;{{currentYear}}. FPT Polytechnic. No Copyright</span>

    <div id="list-inline">
      <a
        name="Yuuta"
        id="Yuuta"
        target="_blank"
        class="list-inline-item text-decoration-none link-secondary fw-semibold"
        href="https://www.facebook.com/yuutasakata1711/"
        >Yuuta</a
      >

      <a
        name="Kaiser"
        id="Kaiser"
        target="_blank"
        class="list-inline-item text-decoration-none link-secondary fw-semibold"
        href="https://www.facebook.com/kaiser.2808"
        >Kaiser</a
      >
    </div>
  </div>
</footer>
