<nav class="navbar navbar-expand-sm navbar-dark nav__header">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar_header"
      aria-controls="navbar_header"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="navbar-toggler-icon"></i>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbar_header"
    >
      <a ui-sref="home" class="navbar-brand" role="button">
        <img src="{{vm.Logo}}" alt="" />
        Rolling Board
      </a>
      <ul class="navbar-nav flex-row justify-content-between">
        <li class="nav-item" ng-if="vm.isAuthenticated()" role="button">
          <a role="button" class="nav-link p-md-3 p-sm-2"> Projects </a>
        </li>
        <li class="nav-item" ng-if="vm.isAuthenticated()" role="button">
          <a role="button" class="nav-link p-md-3 p-sm-2"> Profile </a>
        </li>
        <li class="nav-item" ng-if="vm.isAuthenticated()" role="button">
          <a role="button" class="nav-link p-md-3 p-sm-2"> Search </a>
        </li>
        <li class="nav-item" role="button">
          <a role="button" class="nav-link p-md-3 p-sm-2" ui-sref="about">
            About
          </a>
        </li>
        <li class="nav-item dropdown-center">
          <a
            class="nav-link dropdown-toggle dropdown-toggle-split p-md-3 p-sm-2"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            English
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            style="position: absolute"
          >
            <li role="button" class="dropdown-item">English</li>
            <li class="dropdown-divider"></li>
            <li role="button" class="dropdown-item">Vietnamese</li>
          </ul>
        </li>
      </ul>
      <ul class="list-inline m-0">
        <li
          ng-if="!vm.isAuthenticated()"
          class="list-inline-item d-sm-inline-flex"
        >
          <button ui-sref="login" class="btn btn-outline-dark text-light">
            Login
          </button>
        </li>
        <li
          ng-if="!vm.isAuthenticated()"
          class="list-inline-item d-sm-inline-flex"
        >
          <button ui-sref="signup" class="btn btn-outline-light">
            Sign up
          </button>
        </li>
        <li
          ng-if="vm.isAuthenticated()"
          class="list-inline-item d-sm-inline-flex"
        >
          <button
            class="btn btn-outline-secondary"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offProfileCanvas"
            aria-controls="offProfileCanvas"
          >
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<offcanvas></offcanvas>
