<div class="board" ng-repeat="task in BoardCtrl.tasks">
  <div class="board__heading">
    <a
      ui-sref="project"
      type="button"
      class="link-light text-decoration-none board__heading-name"
    >
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <h1>{{task.title}}</h1>
    </a>
    <h6 class="text-muted">
      Sets targets and objectives and actively works towards them, whilst
      raising the quality of the outcomes.
    </h6>
  </div>
  <div class="board__content">
    <div class="col" ng-repeat="column in task.columns">
      <div class="col-input">
        <input
          class="border-0 text-light w-100"
          type="text"
          placeholder=""
          value="{{column.name}}"
        />
        <button
          type="button"
          class="btn-close btn-close-white align-self-center"
          aria-label="Close"
        ></button>
      </div>
      <div
        class="col-items list"
        ng-repeat="item in column.items"
        dnd-list="column.items"
      >
        <div
          dnd-draggable="item"
          dnd-moved="list.items.splice($index, 1)"
          dnd-effect-allowed="move"
          dnd-selected="selected = item"
          ng-class="{selected: selected === item}"
          class="to-do-item"
        >
          {{item}}
        </div>
      </div>

      <button
        href="#addTask"
        data-bs-toggle="modal"
        class="btn text-light text-start"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add Task
      </button>
    </div>

    <div class="col">
      <button class="btn text-light">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add Column
      </button>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="addTask"
  aria-hidden="true"
  aria-labelledby="addTaskLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div
      class="modal-content text-light container"
      style="
        background: #101113;
        border: 1px solid #343a40;
        border-radius: 17px;
      "
    >
      <div class="text-end">
        <button
          type="button"
          class="btn-close btn-close-white mt-3 me-2"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form class="container w-100 p-5">
        <span class="mb-5 h3">Task</span>
        <div class="mt-4">
          <label for="nameBoard" class="form-label">Name</label>
          <input
            type="text"
            class="form-control border-light bg-dark text-light"
            id="nameBoard"
            value="Proof of Concept"
          />
        </div>
        <div class="mt-3">
          <label for="descriptionBoard" class="form-label">Description</label>
          <textarea
            type=""
            class="form-control border-light bg-dark text-light"
            id="descriptionBoard"
            placeholder="description"
            ng-value="dasdsads"
          ></textarea>
        </div>
        <div class="mt-3">
          <select name="" id="assign" class="option">
            <option value="Alex" selected></option>
            <option value="Alex"></option>
            <option value="Alex"></option>
          </select>
        </div>
        <div class="text-center mt-3">
          <button type="submit" class="btn btn-dark mt-3">
            Accept Changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
