<div class="board" ng-repeat="task in BoardCtrl.tasks">
  <div class="board__heading">
    <a
      ui-sref="project"
      type="button"
      class="link-light text-decoration-none board__heading-name"
    >
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <h1>{{task.title}}</h1>
    </a>
    <h6 class="text-muted">
      Sets targets and objectives and actively works towards them, whilst
      raising the quality of the outcomes.
    </h6>
  </div>
  <div class="board__content">
    <div class="col" ng-repeat="column in task.columns">
      <div class="col-input">
        <input
          class="border-0 text-light w-100"
          type="text"
          placeholder=""
          value="{{column.name}}"
        />
        <button
          type="button"
          class="btn-close btn-close-white align-self-center"
          aria-label="Close"
        ></button>
      </div>
      <div
        class="col-items list"
        ng-repeat="item in column.items"
        dnd-list="column.items"
      >
        <div
          dnd-draggable="item"
          dnd-moved="list.items.splice($index, 1)"
          dnd-effect-allowed="move"
          dnd-selected="selected = item"
          ng-class="{selected: selected === item}"
          class="to-do-item"
        >
          {{item}}
        </div>
      </div>

      <button class="btn text-light text-start">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add Task
      </button>
    </div>

    <div class="col">
      <button class="btn text-light">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add Task
      </button>
    </div>
  </div>
</div>
